version: "3.9"

services:
  slm-frontend:
    image: slm_project:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    volumes:
      - ./logs:/usr/src/app/logs
    restart: unless-stopped
